<form action="/tamagotchi" method="post">
  <label for="description">Add a new Tamagotchi</label>
  <input id="description" name="description" type="text">
  <button type="submit">Submit</button>
</form>